.topBar {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-sec-light);
    height: 59px;
    padding: 10px 16px;
    box-sizing: border-box;
    border-right: 1px lightgray solid;
}

.userConent{
    flex-grow: 1;
    display: flex;
    
}

.actionsConent{
    flex-grow: none;
    display: flex;
}

.userConent > .chat-name{
    padding: 0 0 0 8px;
    align-self: center;

}