:root {
  --primaryLight : rgb(0, 168, 132);
  --seconderyLight : rgb(83, 189, 235) ;
  --bg-pri-light : rgb(234, 230, 223);
  --bg-sec-light: rgb(240, 242, 245);
}

html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin : 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
